html {
  scroll-behavior: smooth;
}

.nav_bar {
  /* position: fixed; */
  height: 100px;
  width: 100%;
  background-color: transparent;
  color: #00477a;
  top: 0px;
  z-index: 3;
  margin-top: 0px;
  padding-top: 50px;
}

.title {
  color: white;
  background-color: black;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  position: relative;
  left: 20%;
  text-align: center;
  padding-top: 11px;
  height: 35px;
  width: 160px;
  bottom: 0px;
}

.menu {
  position: absolute;
  top: 68px;
  right: 20%;
}
.menues {
  position: absolute;
  background-color: black;
  height: 200px;
  width: 200px;
  top: 120px;
  right: 20%;
  z-index: 7;
  border-radius: 20px;
  margin-top: 10px;
  animation: animatemenuin 0.5s;
  border-color: black;
  text-align: center;
}
.menu_items{
    color: white;
    font-size: 20px;
}
@keyframes animatemenuin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatemenuout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cont1 {
  padding-top: -20px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* height: 1000px; */
  
}

.txtt {
  position: relative;
 
  max-width: 380px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;
 
}
.cont2_holder{
    background-color: transparent;
    margin-bottom: 100px;
    margin-top: 100px;
}
.cont2 {
  margin-top: 60px;

  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}

.SDLC {
  background-color: black;
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.cont3 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sdlc_content {
  padding-top: 10px;
  background-color: transparent;
  max-width: 380px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 900;
}
.cont4 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lst {
  max-width: 380px;
  width: 90%;
}

.cont5 {
  background-color: rebeccapurple;
  margin-top: 10px;

  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}

.cont6 {
  background-color: rebeccapurple;
  margin-top: 10px;

  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}

.container_major {
  background-color: black;
  margin: 10px;
  width: 20%;
  min-width: 350px;
  height: 300px;
  max-width: 400px;
  border-radius: 20px;
}

@media only screen and (max-width: 700px) {
  .menues {
    width: 90%;
    right: 0px;
    margin-right: 5%;
  }
  .txtt {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media only screen and (min-width: 701px) {
    
}
@media only screen and (min-width: 900px) {
    .txtt{
        padding-top: 200px;
    }
    
}

@media only screen and (min-height: 500px) {
    .cont1 {
      height: 480px;
    }
    .txtt{
      top: -90px;
  }
  
  }



@media only screen and (min-height: 601px) {
    .cont1 {
      height: 480px;
    }
    .txtt{
      top: -20px;
  }
  
  }

 
@media only screen and (min-height: 701px) {
  .cont1 {
    height: 550px;
  }
  .txtt{
    top: -20px;
}

}

@media only screen and (min-height: 801px) {
  .cont1 {
    height: 620px;
  }
  .txtt{
    top: -70px;
}
}

@media only screen and (min-height: 851px) {
  .cont1 {
    height: 670px;
  }

  .txtt{
    top: -90px;
}
}

@media only screen and (min-height: 900px) {
  .cont1 {
    height: 750px;
  }
  .txtt{
    top: -110px;
}
}


@media only screen and (min-height: 1000px) {
    .cont1 {
      height: 900px;
      padding-top: 150px;
    }
    .txtt{
      top: -200px;
  }
  }

@media only screen and (min-height: 1100px) {
    .cont1 {
      height: 1000px;
      padding-top: 150px;
    }
    .txtt{
      top: -250px;
  }
  }

  @media only screen and (min-height: 1300px) {
    .cont1 {
      height: 1000px;
      padding-top: 150px;
    }
    .txtt{
      top: -100px;
  }
  }