html {
  scroll-behavior: smooth;
}

.nav_bar {
  height: 70px;
  width: 100%;
  background-color: transparent;
  color: #00477a;
  padding-top: 10px;
  z-index: 3;
  position: relative;
}

.title {
  color: black;
  background-color: transparent;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 29px;
  font-weight: 500;
  position: absolute;
  left: 5%;
  top: 0px;
  text-align: center;

  width: 160px;
}

.menu {
  position: relative;
  top: 5px;
  float: right;
  margin-right: 5%;
}
.menues {
  position: absolute;
  background-color: black;
  height: 240px;
  width: 200px;
  top: 70px;
  right: 5%;

  z-index: 7;
  border-radius: 20px;
  margin-top: 10px;
  animation: animatemenuin 0.5s;
  border-color: black;
  text-align: center;
}
.menu_items {
  color: white;
  font-size: 20px;
}

.add_blur_effect_menu {
  animation: blurer 0.1s;
  filter: blur(1px);
}

@keyframes blurer {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(1px);
  }
}

@keyframes animatemenuin {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

.animated_intro_title {
  width: 190px;
  overflow: hidden;
  background-color: transparent;
  height: 25px;
  animation: blinker 0.8s step-end infinite, rr 2.2s steps(20, start) infinite;

  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em;
  border-right: 0.15em solid orange;
  border-color: black;
  border-right: 2px solid;
  font-size: 16px;
}

@keyframes blinker {
  50% {
    border-color: transparent;
  }
}

@keyframes rr {
  0% {
    width: 190px;
  }
  70% {
    width: 310px;
  }
  85% {
    width: 310px;
  }
  100% {
    width: 190px;
  }
}

.first_row {
  padding-top: 20px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.txtt {
  position: relative;
  width: 90%;

  background-color: transparent;
  max-width: 380px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;
}

.second_row {
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box1 {
  background-color: transparent;
  width: 90%;
  max-width: 400px;
  height: 500px;
}
.box2 {
  background-color: transparent;
  width: 100%;
  max-width: 380px;
  padding-left: 5%;
  padding-right: 5%;
  height: 500px;
}
.softwareDev_define {
  background-color: transparent;
  max-width: 380px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
  color: black;

  font-size: 18px;
}

.cont2 {
  margin-top: 30px;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}
.cont2_holder {
  height: 400px;
  width: 100%;
  max-width: 400px;
}

.SDLC {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  color: black;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 1%;
  padding-right: 1%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.cont3 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sdlc_content {
  padding-top: 0px;
  background-color: transparent;
  max-width: 380px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
  color: black;

  font-size: 18px;
}
.cont4 {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lst {
  max-width: 380px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
}

.cont5 {
  margin-top: 0px;

  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}

.Courses_title {
  margin-top: 50px;
  background-color: transparent;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  color: black;

  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.cont6 {
  margin-top: 0px;
  background-color: transparent;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
}

.nav_bar_courses {
  background-color: transparent;
  height: 60px;
  width: 80%;
  border-radius: 20px;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav_course_items {
  background-color: transparent;
  color: black;
  width: 30%;
  margin-top: 20px;
  margin-right: 5px;
  margin-right: 5px;
  padding-top: 10px;
  text-align: center;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.highlight_item {
  background-color: black;
  color: white;
}

.container_major {
  background-color: transparent;
  width: 20%;
  min-width: 350px;
  height: 400px;
  max-width: 400px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
  .menues {
    width: 90%;
    right: 0px;
    margin-right: 5%;
  }
  .txtt {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media only screen and (min-width: 899px) {
  .second_row {
    padding-left: 20px;
  }
  .txtt {
    max-width: 320px;
  }
}
@media only screen and (max-width: 899px) {
  .box1 {
    height: auto;
  }
  .box2 {
    height: auto;
  }
  .Courses_title {
    margin-top: 0px;
  }
}

@media only screen and (min-height: 500px) {
  .cont1 {
    height: 480px;
  }
  .txtt {
    /* top: -70px; */
  }
}

@media only screen and (min-height: 601px) {
  .cont1 {
    height: 480px;
  }
  .txtt {
    /* top: 10px; */
  }
}

@media only screen and (min-height: 701px) {
  .cont1 {
    height: 480px;
  }
  .txtt {
    /* top: -80px; */
  }
}

@media only screen and (min-height: 801px) {
  .cont1 {
    height: 480px;
  }
  .txtt {
    /* top: -110px; */
  }
}

@media only screen and (min-height: 851px) {
  .cont1 {
    height: 470px;
  }

  .txtt {
    /* top: -90px; */
  }
}

@media only screen and (min-height: 900px) {
  .cont1 {
    height: 500px;
  }
  .txtt {
    /* top: -110px; */
  }
}

@media only screen and (min-height: 1000px) {
  .cont1 {
    height: 500px;
    /* padding-top: 150px;
  } 
  .txtt {
    /* top: -200px; */
  }
}

@media only screen and (min-height: 1100px) {
  .cont1 {
    height: 500px;
    /* padding-top: 150px; */
  }
  .txtt {
    /* top: -250px; */
  }
}

@media only screen and (min-height: 1300px) {
  .cont1 {
    height: 500px;
    /* padding-top: 150px; */
  }
  .txtt {
    /* top: -100px; */
  }
}
