.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  max-width: 400px;

  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image {
  border-radius: 20px;
  max-width: 300px;
}

.btns_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 200px;
}
.si {
  width: 140px;
  background-color: black;
  height: 40px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.su {
  width: 160px;
  background-color: black;
  height: 40px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: center;
  margin-top: 20px;
}
